html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgb(223, 230, 233);
	font-family: Calibri; 
}

header {
	width: 100%;
	height: 15vh;
	position: absolute;
	z-index: 9999;
	top: 0;
	background-color: rgba(0, 0, 0, 0);
}

.slider-box{
	top: 12vh;
	position: relative;
	width: 100%;
	height: 80vh;
	z-index: 1;
}
slider {
	display: block;
	width: 100%;
	height: 80vh;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
}

slider .caption {
	font-size: 50px;
	text-align: left;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.5);
}

slider .caption h5{
	color: white;
	font-size: 2vh;
	margin-top: 20vh;
	margin-left: 2vh;
	/*line-height: 10px;*/
}

slider .caption h2 {
	color: white;
	font-size: 5vh;
	/*margin-top: 40vh;*/
	margin-left: 2vh;
}

slider .caption p {
	color: white;
	font-size: 3.5vh;
	/*margin-top: 40vh;*/
	margin-left: 2vh;
}

slider a {
    background:#00b894;
    background:-webkit-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-moz-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-o-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-ms-linear-gradient(left,#00b894 0%,#55efc4 75%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b894',endColorstr='#55efc4',GradientType=0);
    margin-left: 5vh;
    text-decoration: none;
    color: #000;
    font-size: 3.5vh;
    padding: 5px 25px;
    border-radius: 2px;
}

slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden; 
}

slide:nth-child(1) {
	left: 0%;
	animation-delay: -1s;
	background-image: url(../images/9.jpg);
	background-size: cover;
	background-position: center;
}
 
slide:nth-child(2) {
	animation-delay: 2s;
	background-image: url(../images/2.jpg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(3) {
	animation-delay: 5s;
	background-image: url(../images/14.jpg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(4) {
	animation-delay: 8s;
	background-image: url(../images/16.jpg);
	background-size: cover;
	background-position: center;
}


slide.more {
	font-size: 50px;
	text-align: right;
	display: inline-block;
	width: 100%;
	margin-top: 340px;
	margin-left: -20px;
	color: #fff;
	text-decoration: none;
}

@keyframes slide {
	0% { left: 100%; width: 100%; }
	5% { left: 0%; }
	25% { left: 0%; }
	30% { left: -100%; width: 100%; }
	30.0001% { left: -100%; width: 0%; }
	100% { left: 100%; width: 0%;  }
}


.test{
	position: relative;
}

.content {
	width: 100%;
	margin-top: 15vh;
	font-size: 20px;
	line-height: 20px;
	text-align: justify;
	background-color: #dfe6e9;
}

.content p {
	padding: 20px;
}


.content h2 {
	padding: 20px;
	text-align: center;
	color: #000;
	font-size: 40px;
}

.line {
	margin: auto;
    position: absolute;
	width: 25%; 
	height:4px;
	left: 0; right: 0;
	background:#00b894;
    background:-webkit-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-moz-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-o-linear-gradient(left,#00b894 0%,#55efc4 75%);
    background:-ms-linear-gradient(left,#00b894 0%,#55efc4 75%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b894',endColorstr='#55efc4',GradientType=0);
}

.logo {
	float: right;
	position: absolute;
	z-index: 1;
	right: 0;
}

.logo img {
	height: 50px;

}

.logo2 {
	float: left;
	position: absolute;
	z-index: 1;
	left: 8px;
	top: 8px;
}

.logo2 img {
	height: 50px;
	margin-right: 20px;
}


nav {
	position: fixed;
	width: 100%;
	height: 20vh;
}

nav ul {
	list-style: none;
	background : #fff;
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: left;
	margin: 0;
	transition: 1.5s;
	height: 15vh;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
	padding-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
	vertical-align: center;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: rgba(0, 184, 148,1.0);
}

nav.black ul li a {
	color: #fff;
	padding: 5px 10px;
}

.menu-icon {
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

.search-box {
	position: absolute;
	top: 40%;
	right: 5%;
	transform: translate(20%, 0);
	background: #b2bec3;
	height: 20px;
	border-radius: 40px;
	padding: 8px;
}

.search-box:hover > .search-text {
	width: 200px;
	padding: 0 4px;
}
.search-box:hover > .search-btn {
	background: #b2bec3;
}
.search-btn {
	color: #fff;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #b2bec3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.4s;
}
.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}

@media(max-width: 991px) {
	/*.logo {
		position: fixed;
		top: 0;
		margin-top: 1px;
		height: 15px;
	}*/
	.logo {
		height: 0;
  		overflow: hidden;
  		position: absolute;
	}

	nav ul {
		max-height: 0px;
		height: calc(100vh - 50px);
		background: #000;
	}

	nav.black ul {
		background: #000;

	}

	.showing {
		max-height: 20em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
		height: 30px;
	}

	nav ul li a {
		color: #fff;
	}

	.menu-icon {
		display: block;
	}

	nav ul li a {
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}

/*portfolio*/

.box {
	width: 93%;
	margin: 70px auto 0 70px;
	left: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.post {
	width: 300px;
	height: 200px;
	position: relative;
	cursor: pointer;
}
.post img {
	opacity: 1;
 	display: block;
 	width: 100%;
 	height: auto;
 	transition: .5s ease;
 	backface-visibility: hidden;
	display: inline-block;
	width: 300px;
	height: 200px;
}
.post:hover .post-s {
	width: 300px;
}
.post-s {
	width: 0px;
	height: 200px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	overflow: hidden;
	transition: 0.7s;
}

.post-s h2 {
	color: white;
	font-size: 12px;
	border: 2px solid white;
	padding: 80px 50px;    
}